{% extends "global/partials/base.html" %}

{% block content %}

<nav class="navbar">
    <a href="{% url 'home'%}">Página Inicial</a>
    <a href="#">Contatos</a>
    <a href="#">Sobre</a>
    <a href="#">Blog</a>
    <!-- Adicione mais links conforme necessário -->
  </nav>

  <h2>Login</h2>
  
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username">Usuário:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login">
  </form>

  <a href="{% url 'password_reset' %}">Esqueci minha senha</a>
{% endblock %}
