{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Horários Disponíveis</title>
</head>
<body>

  <!-- Adicione uma barra de navegação -->
  <nav>
    <ul>
      <li><a href="{% url 'agenda:agenda' %}">Home</a></li>
    </ul>
  </nav>

  <h1>Horários Disponíveis</h1>

  <form method="post" action="{% url 'ver_horarios' %}">
    {% csrf_token %}
    <label for="servico_id">Selecione o serviço:</label>
    <select name="servico_id" id="servico_id">
        {% for servico in servicos %}
            <option value="{{ servico.id }}">{{ servico.nome }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Ver Horários Disponíveis">
</form>



<h3>Horários Disponíveis para o Serviço Selecionado</h3>
<ul>
    {% for horario in horarios_disponiveis %}
        <li>{{ horario }}</li>
    {% empty %}
        <p>Nenhum horário disponível para o serviço selecionado.</p>
    {% endfor %}
</ul>


</body>
</html>
