{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Contatos</title>
    <link rel="stylesheet" href=" /static/css/contato.css">
</head>
<body>
    <h1>Lista de Contatos</h1>

    <a href="{% url 'contato-list' %}">Ver Lista de Contatos</a>
    
    <!-- Adicione o código para exibir a lista de contatos aqui -->
    {% for contato in contatos %}
    
        {{ contato.nome }} - {{ contato.email }} - {{ contato.telefone }} - {{ contato.endereco }}
        <br>
    {% endfor %}
</body>
</html>
