{% extends "global/partials/base.html" %}

{% block content %}
  <nav class="navbar">
    <a href="#">Página Inicial</a>
    <a href="#">Contatos</a>
    <a href="#">Sobre</a>
    <a href="#">Blog</a>
    <!-- Adicione mais links conforme necessário -->
  </nav>

  <h2>Novo Contato</h2>

  <form method="post" action="{% url 'contato-create' %}">
    {% csrf_token %}
    <table>
      <tr>
        <th><label for="id_nome">Nome:</label></th>
        <td><input type="text" name="nome" id="id_nome"></td>
      </tr>
      <tr>
        <th><label for="id_telefone">Telefone:</label></th>
        <td><input type="tel" name="telefone" id="id_telefone"></td>
      </tr>
      <tr>
        <th><label for="id_email">Email:</label></th>
        <td><input type="email" name="email" id="id_email"></td>
      </tr>
    </table>
    <button type="submit" class="btn">Adicionar Contato</button>
  </form>

  <a href="{% url 'contato-list' %}" class="btn btn-danger">Voltar à Lista de Contatos</a>
{% endblock %}