<!-- usuarios/cadastro.html -->
{% comment %} {% extends "global/base.html" %} {% endcomment %}

{% load static %}
{% block content %}
  <h2>Cadastro de Usuário</h2>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <form method="post" action="{% url 'cadastro' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cadastrar</button>
  </form>
  <p>Você quer fazer o <a href="{% url 'login' %}">login</a> ou ir para a <a href="{% url 'home' %}">página home</a>?</p>
{% endblock %}
